* {
  box-sizing: border-box;
}

#about {
  margin: 30px 250px 30px;
}

.name-heading > h1 {
  font-family: "DM Serif Display", serif;
  font-size: 3rem;
  font-weight: 1000;
}

.webDeveloper {
  font-family: "DM Serif Display", serif;

}

.social {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 10px;
  color: white;
}

.social-icon {
  margin: 10px;
}

.downAngle {
  margin-top: 20px;
  margin-bottom: 60px;
}


h2 {
  font-size: 2rem;
  font-weight: 700;
}


/* p {
  font-family: "Inter", sans-serif;
} */

.aboutText {
  text-align: justify;
}

.profile {
  text-align: center;
}

.profileImage {
  width: 20%;
  margin-top: 10px;
}


table {
  margin: auto;
  border: 1px solid black;
  border-collapse: collapse;
}

td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
}

.footerSection {
  text-align: center;
  width: 100%;
}

.footer-links {
  text-decoration: none;
  color: white;
}

/* Projects */

.p-item {
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 2rem;
  /* align-items: baseline; */
}

.p-item-text {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-template-areas: "area1 area2" "area3 area3";
}

.resumeLink {
  text-decoration: none;
}


.item1 {
  grid-area: area1;
  align-items: stretch;
  text-align: center;
}

.item2 {
  /* display: flex;
  justify-content: space-around;
  align-items: center; */
  grid-area: area2;
  align-items: stretch;
  text-align: center;
}

.item3 {
  grid-area: area3;
}

.p-item-heading {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #222;
  border-right: 1px solid #222;
}

.p-item-num {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 600;
  border-bottom: 2px solid #222;
  border-left: 1px solid #222;
}

/* .project-num {
  display: flex;
  justify-content: space-around;
  align-items: center;
} */

.p-item-heading h2 {
  line-height: 3rem;
  /* font-size: 48px; */

}


.p-item-image {
  object-fit: cover;
}

.p-item-image img {

  box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
  border-radius: 5px;
  /* border-radius: 1.5rem; */
}

.projectText {
  text-align: justify;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: light;
}

/* Contact */
#contact {
  text-align: left;
  margin: 30px 100px 30px;
}

.upArrow {
  font-size: 1.5rem;
  margin-bottom: 30px;
  color: white;
}
